<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.1/handlebars.js"></script>
<body>
	<h1>사용자목록</h1>
	<a href="/users/insert">회원가입</a>
	<div>검색수:<span id="total"></span></div>
	<div id="div_list"></div>
	<div>
		<button id="prev">이전</button>
		<span id="page">1</span>
		<button id="next">다음</button>
	</div>
	<script id="temp_list" type="handlebars-template">
		<table border=1>
			{{#each documents}}
				<tr>
					<td><a href="/users/read/{{uid}}">{{uid}}({{uname}})</a></td>
					<td>{{phone}}</td>
					<td>{{address1}} {{address2}}</td>
					<td>{{fmtdate}}</td>
				</tr>
			{{/each}}
		</table>
	</script>
</body>
<script>
	let page=1;
	let size=5;
	
	$("#next").on("click", function(){
		page++;
		getList();
	});
	
	$("#prev").on("click", function(){
		page--;
		getList();
	});
	
	getList();
	function getList(){
		$.ajax({
			type:"get",
			url:"/users/plist.json",
			dataType:"json",
			data:{page, size},
			success:function(data){
				console.log(data);
				const temp=Handlebars.compile($("#temp_list").html());
				$("#div_list").html(temp(data));
				const last=Math.ceil(data.total/size);
				
				$("#page").html(page + "/" + last);
				$("#total").html(data.total);
				
				if(page==1) $("#prev").attr("disabled", true);
				else $("#prev").attr("disabled", false);
				
				if(page==last) $("#next").attr("disabled", true);
				else $("#next").attr("disabled", false);
			}
		})
	}
</script>
</html>